@font-face {
    font-family: 'zabars';
    src: url('fonts/zabars.ttf') format('truetype');
}

*{
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-image: url('img_pollo_locco/img/5_background/desert_background.png');
    background-position: center;
    font-family: 'zabars', Arial, Helvetica, sans-serif;
}

.d-none {
    display: none !important;
}

h1 {
    font-size: 72px;
    letter-spacing: 5px;
}

canvas {
    background-color: black;
    display: block; 
    margin-bottom: 30px;
}

.startIMG {
    height: 60vh;
    width: 60vw;
    margin-bottom: 10px;
}

.startbutton {
    height: 100px;
    width: 250px;
    border-radius: 20px;
    font-size: 32px;
    background-color: rgb(255, 166, 0);
    border-width: 10px;
    font-weight: bold;
    margin-bottom: 30px;
}

.startbutton:hover {
    cursor: pointer;
}
    
.inputs {
    display: flex;
    width: 40%;
    justify-content: space-around;
    gap: 30px;
    margin-bottom: 20px;
}

.opacity50{
    opacity: 0.5;
}

.inputs div {
    display: flex;
    align-items: center;
}

.icon {
    width: 20px;
    height: 20px;
}

.icon_round {
    width: 20px;
    height: 20px;
    border-radius: 100%;
}

.rotate90 {
    transform: rotate(90deg);
}

.rotate180 {
    transform: rotate(180deg);
}

span {
    font-size: 32;
}

/*MobileController*/

.mobileController{
    width: 40;
    height: 40px;
    padding: 5px;
}

.hud {
    width: 100%;
    position: absolute;
    bottom: 10px;
    display: none;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}  

.hud div {
    display: flex;
}

#btnleft {
   left: 50px;
    bottom: 20px;
}

#btnright {
    left: 150px;
     bottom: 20px;
 }

 #btnjump {
    right: 150px;
     bottom: 20px;
 }

 #btnthrow {
    right: 50px;
     bottom: 20px;
 }

 .flipIcon{
    transform: scaleX(-1)
 }

/*sorgt dafür dass das canvas sich bei kleinen bildschirmen mit verkleinert*/
@media only screen and (max-width: 720px) {
    canvas {
        width: 100vh;
        margin: 0;
    }

    .inputs {
        display: none;
    }
}

@media only screen and (max-height: 480px) {
    canvas {
        height: 100vh;
    }

    .header {
        display: none;
    }

    canvas {
        width: 100%;
    }

    .hud {
        display: flex;
    }
}