@font-face {
    font-family: 'zabars';
    src: url('fonts/zabars.ttf') format('truetype');
}

*{
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    background-image: url('img_pollo_locco/img/5_background/desert_background.png');
    background-position: center;
    font-family: 'zabars', Arial, Helvetica, sans-serif;
    
}

.d-none {
    display: none !important;
}

h1 {
    font-size: 72px;
    letter-spacing: 5px;
}

canvas {
    background-color: black;
    display: block; 
    margin-bottom: 30px;
}

.startIMG {
    height: 480px;
    width: 720px;
    margin-bottom: 10px;
}

.startbutton {
    height: 100px;
    width: 250px;
    border-radius: 20px;
    font-size: 32px;
    background-color: rgb(255, 166, 0);
    border-width: 10px;
    font-weight: bold;
    margin-bottom: 30px;
}

.restartbutton {
    position: absolute;
    bottom: 10px;
    left: auto;
    right: auto;
    height: 100px;
    width: 250px;
    border-radius: 20px;
    font-size: 32px;
    background-color: rgb(255, 166, 0);
    border-width: 10px;
    font-weight: bold;

}

.startbutton:hover {
    cursor: pointer;
}
    
.inputs {
    display: flex;
    width: 40%;
    justify-content: space-around;
    gap: 30px;
    margin-bottom: 20px;
}

.opacity50{
    opacity: 0.5;
}

.inputs div {
    display: flex;
    align-items: center;
}

.icon {
    width: 20px;
    height: 20px;
}

.icon_round {
    width: 20px;
    height: 20px;
    border-radius: 100%;
}

.rotate90 {
    transform: rotate(90deg);
}

.rotate180 {
    transform: rotate(180deg);
}

span {
    font-size: 32;
}

/*MobileController*/

.mobileController{
    width: 40;
    height: 40px;
    padding: 5px;
}

.hud {
    width: 100%;
    position: absolute;
    bottom: 10px;
    display: none;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}  

.hud div {
    display: flex;
    padding: 0 10px 0 10px;
}

#btnleft {
   left: 50px;
    bottom: 20px;
}

#btnright {
    left: 150px;
     bottom: 20px;
 }

 #btnjump {
    right: 150px;
     bottom: 20px;
 }

 #btnthrow {
    right: 50px;
     bottom: 20px;
 }

 .flipIcon{
    transform: scaleX(-1)
 }

.gameEnd{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gameEnd img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 720px;
    height: 480px;

}

.rotatePhone span{
    display: none;
}


/*sorgt dafür dass das canvas sich bei kleinen bildschirmen mit verkleinert*/
@media only screen and (max-width: 1000px) and (orientation:landscape)  {
    canvas {
         width: 100vw ;
         height: 100vh;
         margin-bottom: 0;
    }

    #startIMG {
        height: 100vh;
        width: 100vw;
    }

    .startIMG{
        height: 100vh;
        width: 100vw;
        margin-bottom: 0;
    }

    #startbutton{
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        height: 15vh;
        display: flex;
        justify-content: center;
    }

    .startbutton {
        margin-top: 10px;
        height: 50px;
        width: 125px;
        border-radius: 10px;
        font-size: 18px;
        border-width: 5px;
    }

    .hud{
        display: flex;
    }

    .inputs {
        display: none;
    }

    .header{
        display: none;
    }

    .rotatePhone span{
        display: none;
    }
}

/*deaktivier alles sobald das handy ins Portrait ist*/
@media only screen and (max-width: 500px)  and (orientation:portrait) {
    .header{
        display: none;
    }
    #startIMG{
        display: none;
    }

    #startIMG img{
        display: none;
    }

    #canvas{
        display: none;
    }

    .inputs{
        display: none;
    }

    #startbutton{
        display: none;
    }

    .hud{
        display: none;
    }

    .gameEnd{
        display: none;
    }

    .rotatePhone span{
        display: flex;
    }

    .rotatePhone{
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        height: 100vh;
        width: 100vw;
        background: black;
        color: white;
        font-size: 32px;
    }
}